@import "tailwindcss";
@import "@fontsource/poppins/400.css";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --font-sans: "poppins", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  font-weight: 400;
}

body{
  @apply text-white;
}

.tool-scrollbar::-webkit-scrollbar{
  width: 8px;
}
.tool-scrollbar::-webkit-scrollbar-track{
  background: rgba(118, 107, 107, 0.1);
}
.tool-scrollbar::-webkit-scrollbar-thumb{
  background-color: white;
  border-radius: 8px;
  
}